body {
	background-color:#f4f4f4;
	color: black;
	margin: 0;
	padding: 0;
	font-family: "serif";
}
header {
	background-color: #e4e4e4;
	color: black;
	text-align: center;
}
article, p{
	text-align: left;
	font-family: "serif";
	padding: 0px;
}
img{
	border: none;
}
a{
	border: none;
	text-decoration: none;
	color: #eee;
}
footer{
	font-family: "serif";
	font-size: 10px;
	background-color: #d4d4d4;
}
.tabella{
	text-align: left;
	wight: 100%;
}
.menu{
	background-color: #a4a4a4;
}
.dx{
	position: fixed;
	z-index: 3;
	top: 15px;
	right: 5px;
}
td:hover{
	background-color: #ddd;
	box-shadow:3px 3px 1px #888;

}
table{
	border-collapse: collapse;
}
th{
	background-color: #aaa;
	padding-right: 10px;
	padding: 5px;
	color: #fff;
}
td{ 
	border-bottom: solid 1px #888;
	padding: 5px;
	vertical-align: top;
}
input, textarea, select{
	padding: 3px;
	font-size: 14px;
	font-weight: bold;
	font-family: "serif";
	color: #111;
}
.icone{
	font-family: "serif";
	color: 797;
	font-size: 15px;
	text-align: center;
	padding: 20px;
	float: left;
}
.titolo{
	text-align: right;
	font-size: 40px;
	color: #FFFFFF;
	background-color: #2196F3;
	padding: 20px;
}
.nomi{
	padding: 10px;
	margin-left: 5px;
	margin-right: 15px;
	background-color: #d9d9d9;
}
.segnalatoda{
	font-size: 12px;
	font-style: italic;
	margin-left: 30%;
	margin-top: 10px;
}
.data{
	font-size: 12px;
}
.error{
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
	color: #F44;
}
.version{
	font-size: 10px;
	position: fixed;
	z-index: 2;
	bottom: 0px;
	right: 0px;
}
.notepad{
	bottom: 0px;
	left: 0px;
	font-size: 12px;
	background-color: #fafafa;
	margin: 0px;
	padding: 10px;
}
.inputnote{
	border: none;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ddd;
	padding: 10px;
}

.submitnote{
	border: 2px solid #ddd;
	border-radius: 8px;
	background-color: #eee;
	padding: 8px;
}

.delnote{
	float: right;
}
